:root {
  box-sizing: border-box;
}

/* Colors */
/* #FFF9B3 - Background color */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF9B3;
}

.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: 10px; /* Optional: Add space between grid items */
}

.navbar {
  /* Position the navbar */
  grid-column-start: 1;
  grid-column-end: -1;
  
  display: flex;
  justify-content: space-between;

  .title {
    margin-left: 2rem;
  }

  .navlinks {
    display: flex;
    justify-content: space-around;
  }

  .navlinks > li {
    list-style-type: none;
    padding: 0 2rem;
    a {
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
  
}

.content {
  /* Position the content */
  grid-column-start: 1;
  grid-column-end: -1;
}

.home {
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
